{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Configurações - Level Up Habits</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/config.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>
  <div class="dashboard">
    <aside class="sidebar">
      <h2 class="logo"><i class="fa-sharp fa-solid fa-angles-up"></i> LevelUp Habits</h2>
      <nav>
        <a href="{% url 'dashboard' %}"><i class="fa-sharp fa-solid fa-house"></i> Início</a>
        <!-- <a href="#"><i class="fa-sharp fa-solid fa-user-group"></i> Amigos - Em breve</a>
        <a href="#"><i class="fa-sharp fa-solid fa-users"></i> Equipe - Em breve</a> -->
        <a href="{% url 'config' %}" class="active"><i class="fa-sharp fa-solid fa-gear"></i> Configurações</a>
      </nav>
    </aside>

    <div class="main-area">
      <header class="topbar">
        <div class="user-actions">
          <!-- <a href="#"><i class="fa-sharp fa-solid fa-bell"></i> Notificações</a> -->
          <a href="{% url 'perfil' %}"><i class="fa-sharp fa-solid fa-user"></i> Perfil</a>
          <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="user_profile_picture" class="icon" />
          <span class="username">{{ user.username }}</span>
                        <span class="user-level-wrapper">
                            <span class="user-level">Nível {{ level }}</span>
                            <span class="user-xp">XP: {{ xp }}</span>
                        </span>
          <a href="{% url 'logout_view' %}" class="logout-btn" id="logoutBtn">Sair</a>
        </div>
      </header>

      <main class="main-content">
        <h1>Configurações</h1>

        <section class="config-section">
          <form method="POST" id="useredit">
            {% csrf_token %}
            <h3>Informações da Conta</h3>
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required />

            <button type="submit">Salvar Alterações</button>
          </form>
         <!-- <h3>Preferências</h3> -->
          
        </section>
      </main>
    </div>
  </div>

  <script src="{% static 'js/config.js' %}" defer></script>
</body>
</html>
