{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard - Level Up Habits</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="dashboard">

    <aside class="sidebar">
      <h2 class="logo"><i class="fa-sharp fa-solid fa-angles-up"></i> LevelUp Habits</h2>
      <nav>
        <a href="#" class="active"><i class="fa-sharp fa-solid fa-house"></i> Início</a>
        <a href="#"><i class="fa-sharp fa-solid fa-user-group"></i> Amigos</a>
        <a href="#"><i class="fa-sharp fa-solid fa-users"></i> Equipe</a>
        <a href="#"><i class="fa-sharp fa-solid fa-gear"></i> Configurações</a>
      </nav>
    </aside>

    <div class="main-area">

      <header class="topbar">
        <div class="user-actions">
            <a href="#"><i class="fa-sharp fa-solid fa-bell"></i> Notificações</a>
            <a href="#"><i class="fa-sharp fa-solid fa-user"></i> Perfil</a>
            <img src="{% static 'images/notification.png' %}" alt="Notificações" class="icon" />
            <span class="username">{{ user.username }}</span>
            <a href="" class="logout-btn">Sair</a>
        </div>
      </header>

      <main class="main-content">
        <h1>Bem-vindo de volta, {{ user.first_name|default:user.username }}!</h1>

        <section class="dashboard-widgets">
          <div class="card streak">
            <h3>🔥 Streak Atual</h3>
            <p>7 dias seguidos</p>
          </div>

          <div class="card">
            <h3>Hábitos de hoje</h3>
            <ul id="habitList">
              <li class="habit done">✅ Acordar cedo</li>
              <li class="habit">☐ Estudar 1h</li>
              <li class="habit">☐ Beber água</li>
            </ul>
          </div>
        </section>
      </main>
    </div>
  </div>

  <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
