<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Habit Tracker</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div class="main-center">
        <div class="title">
            Level Up Habits
            <p class="subtitle">Acompanhe, evolua e conquiste seus hábitos de forma gamificada!</p>
        </div>
        <div class="container_outer">
            <div class="container_inner">
                <h1>Login</h1>
                <form id="loginForm">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" required />
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" required />
                    <button type="submit">Entrar</button>
                </form>
                <div class="register-link">
                    <span>Não tem conta?</span>
                    <a href="{% url 'register' %}">Cadastre-se aqui</a>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'js/login.js' %}"></script>
<script>
    const token = localStorage.getItem('access_token');
    if (token) {
        // Se o usuário já está logado, redireciona para a home
        window.location.href = '/';
    }
</script>
</body>
</html>
