<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cadastro - Habit Tracker</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
</head>
<body>
  <div class="main-grid">
    <div class="info-column">
      <div class="info-content">
        <h1>Level Up Habits</h1>
        <p>Transforme seus hábitos, evolua todos os dias.</p>
        <img src="{% static 'images/placeholder.png' %}" alt="Ilustração hábitos" />
      </div>
    </div>

    <div class="form-column">
      <div class="container_inner">
        <h2>Cadastro</h2>
        <form id="registerForm" method="post" action="{% url 'api-register' %}">
          {% csrf_token %}
          <label for="username">Usuário</label>
          <input type="text" id="username" name="username" required />

          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Senha</label>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" required />
            <img src="{% static 'images/hide.png' %}" alt="Mostrar senha" class="toggle-password" data-target="password" />
          </div>

          <label for="confirm_password">Confirmar Senha</label>
          <div class="password-wrapper">
            <input type="password" id="confirm_password" name="confirm_password" required />
            <img src="{% static 'images/hide.png' %}" alt="Mostrar senha" class="toggle-password" data-target="confirm_password" />

          </div>

          <button type="submit">Cadastrar</button>
        </form>

        <div class="login-link">
          <span>Já tem uma conta?</span>
          <a href="{% url 'login' %}">Entre aqui</a>
        </div>
      </div>
    </div>
  </div>

  <div id="customAlert" class="alert">
    <p id="alertMessage"></p>
  </div>
  <script>
    const loginUrl = "{% url 'login' %}";
  </script>
  <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
